@model OnlineVotingSystem.Models.Entity.Voter
@using System.Security.Claims;

@{
    Layout = "_DashboardLayoutVoter";

    @ViewData["page"]
}

<h1>Welcome @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.GivenName).Value</h1>
<h2>Your Voter's Number is @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier).Value</h2>
