@model OnlineVotingSystem.Models.Entity.Admin


<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(../../wwwroot/images/logo.jpg);"></a>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a class="nav-link" asp-controller="Admin" asp-action="DashBoard">Home</a>
            </li>
            <li>
                <a class="nav-link" asp-controller="Admin" asp-action="Details"> Details</a>
            </li>
            <li>
                <a asp-action="">Register Candidate</a>
            </li>
            <li>
                <a class="nav-link" asp-controller="Voter" asp-action="Register"> Register Voter</a>
            </li>
            <li>
                <a class="nav-link" asp-controller="Voter" asp-action="Index">List Of Voters</a>
            </li>
        </ul>


    </div>
</nav>