@model OnlineVotingSystem.Models.Entity.Voter

<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(../../wwwroot/images/logo.jpg);"></a>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a asp-action="DashBoard">Home</a>
            </li>
           
        </ul>


    </div>
</nav>